//
//
//    :::: COMMON ::::
//    
//    All Common colors are here with default theme colors.
//
//

$white: #ffffff;
$black: #000000;
$site_red: #db0840;
$site_red_hover: #f30b47;
$site_cta_color_1: #003A65;
$site_yellow: #FFCD00;
$site_section_bg_1: #072466;
$site_section_bg_2: #00142D;
$site_game_instruction_box_bgc: #000C53;
$site_ulbtd_txtclr: #8E8E8E;
$site_ulbtd_tblbg_1: #D0D0D0;
$site_ulbtd_tbltxtclr_1: #001B3F;
$site_ulbtd_tbltxtclr_red: #E92C5A;
$site_ulbtd_tabnav_list_bg: #002658;
$site_ulbtd_tabnav_list_item_active_txtclr: #4D4E51;
$site_quiz_progress_color: #ED002E;
$site_quiz_game_playground_bg: #052168;
$site_quiz_game_correct_answer_bg_color: #159D48;
$site_quiz_game_correct_answer_tick_color: #005B0F;
$site_quiz_game_wrong_answer_bg_color: #FF0000;

